body{
	margin: 0;
}
a:link, a:visited {
    text-decoration: none;
    color: #fff;
}
nav {
	background: #4267B2;
	min-height: 50px;
    color: #e0d9d9;
    padding-top:5px;
}

nav a img {
    width: 25px;
    border-radius: 30px;
    margin-top: 5px;
}

.brand {
    font-family: 'Comfortaa', cursive;
    font-size: 1.5em;
}

/* Feeds */

body{
    background: #F0F3F8;
    font-family: arial;
}
.row {
    text-align: left;
    color: auto;
    width: 30%;
    vertical-align: middle;
    margin: 10px;
    padding: 10px;
}
#printText .row {
    background: #FFFFFF;
}
#printText .row img {
    width: 35px;
    border-radius: 50px;
    vertical-align: text-top;
}
#fullName {
    margin-left: 10px;
}
#insertPost {
    text-align: left;
    padding: 5px;
    background: #fff;
    width: 31%;
    height: 80px;
    margin-left: 50%;
    margin-bottom: 40px;
    transform: translate(-50%, -0%);
}
#insertPost img {
    margin-left: 10px;
    width: 30px;
    vertical-align: middle;
}
#postTxt > img {
    min-width: 100%;
    border-radius: 0;
}
#insertPost input[type="text"] {
    border: 1px solid #DFE0E1;
    padding: 5px;
    margin-top: 10px;
    margin-left: 12px;
    width: 330px;
    height: 35px;
}
#like {
    height: 20px;
    margin-top: 15px;
    font-size: 9px;
    color: blue;
}
#popupContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    padding: 15px;
  }

#popupContent {
    background-color: silver;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 80vw;
}

#popupContent > .leftColumn {
    width: 70rem;
}

.postImg{
    width: 100%;
    height: auto;
}

#popupContent > .rightColumn {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #f4f6fa;
    padding: 15px;
    width: 30vw;
    position: relative;
}

.rightColumn > #popupTopBar {
    display: flex;
    justify-content: flex-end;
    top: 0;
    right: 0;
    position: absolute;
}

#closePopup {
    cursor: pointer;
    color: silver;
    padding: 0 6px;
}

#comment {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
}

#photoContainer {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}


#submitComment {
    margin-top: 5px;
    background-color: #0f75bc;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    width: 50%;
}

#komentar{
    flex-grow: 1;
}

#forma{
    width: 99%;
    height: 30px;
}

#forma::placeholder {
    font-size: 1.2em;
}