@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');
@import url('https://fonts.googleapis.com/css?family=Quattrocento');

body{
    margin: 0;
    padding: 0;
    background: #F0F3F8;
    font-family: arial;
}
/*a:link, a:visited {
    text-decoration: none;
    color: blue;*/

/*post box*/
.dashcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.dashcontent {
    width: 50%;
    margin-top: 20px;
}
.dashinsertpost {
    display: flex;
    align-items: flex-start;
    width: 92%;
    background: #FFF;
    padding: 2%;
    margin: 0 2% 20px 2%;
}
.dashinsertpostuserimg {
    width: 80px;
}
.dashinsertpostuserimg > img {
    width: 60px;
    height: auto;
    object-fit: contain;
}
.dashbottominsert {
    display: flex;
    justify-content: space-between;
}
.dashinputform {
    width: 100%;
}
.dashonyourmind {
    padding: 1%;
    width: 98%;
    min-height: 40px;
    /*resize: none;*/
    font-family: inherit;
    margin-bottom: 5px;
}
.dashbtn {
    background-color: #39B54A;
    color: #fff;
    border: none;
    cursor: pointer;
    height: 40px;
    width: 120px;
}
.dashbrowsebtn {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.dashbrowsebtn + label {
    width: 120px;
    color: #fff;
    background-color: #4267B2;
    display: inline-block;
    font-size: .75em;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    text-align: center;
}
.dashbrowsebtn:focus + label,
.dashbrowsebtn + label:hover {
    background-color: #51bac8;
}
.dashbtn:focus,
.dashbtn:hover {
    background-color: #51c860;
}
#pubselect {
    height: 40px;
    border: 2px solid #4267B2;
    position: relative;
    top: 1px;
}

/*@media only screen and (min-width: 1050px) {
    .dashcontent {
        width: 50%;
        max-width: 500px;
    }
    printText .row {
        max-width: 480px;
    }

}
@media only screen and (min-width:500px) {
    .dashcontent {
        width: 100%;
        max-width: 500px;
    }

    #printText .row {
        width: 480px;
    }

}
@media only screen and (min-width: 100px) {
    .dashinsertpost {
        width: 96%;
        margin: 0 0 20px 0;
       
    }
    .dashcontent {
        width: 100%;
     }
     #printText .row {
        width: 90%;
        max-width:480px;
    }
}*/

/*end post box*/

/* Feeds */
#printText {
    width:100%;
}
.dashboard-post-row {
    display: flex;
    flex-flow: column;
    color: auto;
    background: white;
    padding: 5px;
    margin-bottom: 3%;
    width: 95%;
}

.dashboard-usr-pict {
    display: flex;

    
}
.dashboard-usr-pict img {
    width: 30px;
    height: 40px;
    object-fit: cover;
    padding: 2px;
}

.userNameDiv {
    flex-flow:column;
}

#fullName {
    margin-left: 11px;
    color:blue;
}
.timePost {
    margin-left: 10px;
    font-size: 0.7em;
}

.outPict {
    width: 100%;
    padding: 5px;
}
#postTxt {
    width:100%;
    padding:5px;
}

/*end feeds/*/



/* START popupContainter */

#popupContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    padding: 15px;
    overflow-y: scroll;
}
#popupContent {
    background-color: silver;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 90%;
    margin-top: 250px;
}
#popupContent > .leftColumn {
    width: 70%;
    min-height: 300px;
}
#imgComm{
    width: inherit;
}
.clickableImage{
    cursor: pointer;
}
.postImg{
    width: 100%;
    height: auto;
}
#popupContent > .rightColumn {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #f4f6fa;
    padding: 15px;
    width: 30%;
    position: relative;
}
.rightColumn > #popupTopBar {
    display: flex;
    top: 0;
    right: 0;
    position: absolute;
}
#closePopup {
    font-size: 25px;
    cursor: pointer;
    color: silver;
    padding: 0 6px;
}
#closePopup:hover {
    color: rgba(0, 0, 0, 0.7);
}
#comment {
    margin: auto;
    margin-bottom: 10px;
    font-size: 12px;
}
#photoContainer {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.load-more{
    margin-top: 10px;
    text-align: left;
    font-size: 10px;
    color: #0000ff;
    cursor: pointer;
}
#submitComment {
    cursor: pointer;
    margin-top: 5px;
    margin-right: 180px;
    margin-left: 0px;
    background-color: #0f75bc;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    width: 35%;
    border-radius: 5px;
}
#imgComment{
    overflow-y: scroll;
    height: 550px;
}
#komentar{
    flex-grow: 1;
}
.usrComm {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
#comment{
    margin-top: 50px;
}
#forma {
    height: 30px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
    float: right;
}
#forma::placeholder {
    font-size: 1.2em;
}
.dateTime {
    font-size: 10px;
    position: relative;
    left: 20px;
    color: lightgrey;
}
.usrImg, .usrCom {
    display: inline-block;
}
.usrImg {
    width: 47px;
    position: relative;
    bottom: 23px;
    margin-right: 8px;
}
.usrImg1 {
  -webkit-clip-path: circle(20px at center);
  clip-path: circle(20px at center);
    width: inherit;
}
#imgComm img{
    -webkit-clip-path: circle(18px at center);
    clip-path: circle(18px at center);
    width: inherit;
}
#imgComm #fullName a:link {
    color: black;
}
#imgComm #fullName a:hover {
    color: #303030;
    font-weight: bold;
}
#imgComm #fullName a:active {
    color: blue;
}
#imgComm #fullName a:visited {
    color: grey;
}
/* #printText > #imgComm > #fullName{

} */
@media only screen and (max-width: 370px) {
    #popupContent {
        display: flex;
        flex-wrap: wrap;
        overflow: scroll;
        position: relative;
    }
    #popupContent > .leftColumn {
        width: 100%;
        min-width: 300px;
    }
      #popupContent > .rightColumn {
        width: 100%;       
    }
    #comment{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    #popupContainer {
        overflow-y: scroll;
    }
    #closePopup{
        display: none;
    }
}
/* END popupContainter */