@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

.navbarcontainer {
	display: flex;
	margin: 0;
	padding: 0 20px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #4267B2;
	height: 60px;
}
.navlogo {
	vertical-align: middle;
}
.navlogo a:link, a:visited {
	margin-left: 20px;
	font-size: 2em;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}
.navuserinfo {
	display: flex;
	align-items: center;
}
.navuserinfo a:link, a:visited {
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}
.navuserimg {
	height: 40px;
	width: 40px;
	margin-right: 10px;
	clip-path: circle(50% at center);
}
.navbtn {
	margin-left: 20px;
	width: 80px;
	height: 30px;
	background-color: #365899;
	color: #fff;
	border: 0;
	font-size: 12px;
}
.navbtn:hover {
	background-color: hsl(219, 48%, 50%);
}
@media only screen and (max-width: 650px) {
.navlogo a:link, a:visited {
	font-size: 1.2em;
	}
.navuserinfo a:link, a:visited {
	font-size: 1em;
	}	
}