@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.navbarcontainer {
	display: flex;
	margin: 0;
	padding: 0 20px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #4267B2;
	height: 60px;
}
.navlogo {
	vertical-align: middle;
}
.navlogo a:link, a:visited {
	margin-left: 20px;
	font-size: 2em;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}
.navuserinfo {
	display: flex;
	align-items: center;
}
.navuserinfo a:link, a:visited {
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}
.navuserimg {
	height: 100%;
	width: 40px;
	margin-right: 10px;
	-webkit-clip-path: circle(45% at 50% 50%);
	clip-path: circle(45% at 50% 50%);
}
.navbtn {
	margin-left: 20px;
	padding: 0 10px;
	height: 30px;
	background-color: #365899;
	color: #fff;
	border: 0;
	font-size: 12px;
}
.navbtn:hover {
	background-color: hsl(219, 48%, 50%);
}
@media only screen and (max-width: 650px) {
	.navlogo a:link, a:visited {
		font-size: 1.2em;
		margin-left: 0;
	}
	.navuserinfo a:link, a:visited {
		font-size: 1em;
	}	
}
@media only screen and (max-width: 500px) {
	#navdisplayname {
		display: none;
	}
	#navlogouttxt {
		display: none;
	}
	.navbtn {
		margin-left: 0;
	}
}