body{
	margin: 0;
}
a:link, a:visited {
    text-decoration: none;
    color: #fff;
}
nav {
	background: #4267B2;
	min-height: 50px;
    color: #e0d9d9;
    padding-top:5px;
}

nav a img {
    width: 25px;
    border-radius: 30px;
    margin-top: 5px;
}

.brand {
    font-family: 'Comfortaa', cursive;
    font-size: 1.5em;
}

/* Feeds */

body{
    background: #F0F3F8;
    font-family: arial;
}
.container {
margin:0px auto;
}
.gornjideo {
    display:flex;
    justify-content: space-around; 
    }
.donjideo {
 display:flex;
 flex-direction: row;

    }
.levideo {
    width: 60%;
    padding: 10px;
    margin-left: 60px;
    text-align: center;
}
.desnideo {
    width: 20%;
    padding: 10px;
    margin-right: 300px;
    margin-top: 40px;
    text-align: center;
}
.belalinija {
    background-color: rgb(252, 252, 252);
    height: 5px;
    margin-left: 80px;
    margin-right: 80px;
}
.donjilevideo {
    width: 20%;
    padding: 10px;
    margin-left: 200px;
    text-align: center;
}
.donjidesnideo {
    width: 20%;
    padding: 10px;
    margin-right: 120px;
    text-align: center;
}
.row {
    text-align: left;
    color: auto;
    width: 30%;
    vertical-align: middle;
    margin: 10px;
    padding: 10px;
}
#printText .row {
    background: #FFFFFF;
}
#printText .row img {
    width: 35px;
    border-radius: 50px;
    vertical-align: text-top;
}
#fullName {
    margin-left: 10px;
}
#insertPost {
    text-align: left;
    padding: 5px;
    background: #fff;
    width: 31%;
    height: 80px;
    margin-left: 50%;
    margin-bottom: 40px;
    transform: translate(-50%, -0%);
}
#insertPost img {
    margin-left: 10px;
    width: 30px;
    vertical-align: middle;
}
#postTxt > img {
    min-width: 100%;
    border-radius: 0;
}
#insertPost input[type="text"] {
    border: 1px solid #DFE0E1;
    padding: 5px;
    margin-top: 10px;
    margin-left: 12px;
    width: 330px;
    height: 35px;
}
#like {
    height: 20px;
    margin-top: 15px;
    font-size: 9px;
    color: blue;
}
.dropdownbtn {
   background-color: #39B54A;
   width: 100%;
   color: #eee;
   padding: calc(5px + 0.4vw);
   font-size: calc(12px + 0.6vw);
   border: none;
   cursor: pointer;
   height: 40px;

 }
 #imagebutton {
    width: 200px;
    margin-top: 15px;
 }
.input-field {
    background-color: transparent;
    padding-left: 5%;
    border: 0px solid;
    height: 40px;
    width: 95%;
    font-size: 18px;
    background: white !important;
    display: flex;
    flex-direction: column;

}
.input-size {
    min-height: 70px;
}

#vl {
    border-right: 5px solid white;
    margin-top: 85px;
}
#container{
    margin-left: 40px;
    margin-right: 40px;


}
.slika{
    float: left;
    width: 60px;
    height: 100px;
}
#centriraj{
    text-align: ceenter;
}

.textsuccess {
    color: limegreen;
    font-size: 16px;
}

.textfail {
    color: red;
    font-size: 16px;
}
.alert {
    font-style: italic;
    margin-top: 10px;
}