div{
    border: black solid 1px;
}



.pageContainer{
    display: flex;
    flex-wrap: wrap;
    width:80%;
    text-align:center;
    margin:10px auto;
}
.leftColumn{
    display: flex;
    flex-wrap: wrap;
    height:200px;
    width:49%;
    display:inline-block;
    margin:0 auto;
}
.rightColumn{
    height:200px;
    width:49%;
    display:inline-block;
    margin:0 auto;
}
.profPicture{
    width:45%;
}
.userInfo{
    background:white;
}
.posts{
    width:50%;
    background:white;
    margin:0 auto;
}