/* div{
    border: black solid 1px;
}
 */


.pageContainer{
    display: flex;
    flex-wrap: wrap;
    width:80%;
    text-align:center;
    margin:10px auto;
}
.leftColumn{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:49%;
    display:inline-block;
    margin:0 auto;
}


.profPicture{
    width:45%;
}



.userInfo{
    display:inline-block;
    margin:0 auto;
    width:45%;
    background:white;
}
.table{
    margin:0 auto;
}
.td{
    text-align:left;
    width:49%;
}
.imgPost{
    width:100% em;
    height: 200px;

}

.rightColumn{
    flex-direction: column;
    width:49%;
    display:inline-block;
    margin:0 auto;
}

.invisSpace{
    margin-top:150px;
   
}
.postSection{
    width:50%;
    background:white;
    margin:0 auto;
    
}
.date{
    font-size:12px;
    font-style:none;
    
}

.posts{
    padding: 20px;
    background:white;
    margin:30px;
}