#popupContainer {
    /*display: none;*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    padding: 15px;
  }

#popupContent {
    box-sizing: border-box;
    width: 80%;
    height: 80%;
    background-color: silver;
    display: flex;
    flex-direction: row;
    align-items: stretch;
   

    margin-top: 80px;
}
#popupContent > .leftColumn {
    width: 100%;
    height: 100%;
    position: relative;
}

#popupContent > .leftColumn img{
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)

}



#popupContent > .rightColumn {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #f4f6fa;
    margin: auto;
    height: 95%;
    padding: 15px;
    width: 30%;
}

#popupTopBar {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

#closePopup {
    cursor: pointer;
    color: silver;
    padding: 0 6px;

}

#comment {
    flex-grow: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 120%;
}

#photoContainer {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}


#submitComment {
    margin-top: 5px;
    background-color: #0f75bc;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    width: 50%;
}